@import './base.css';

a {
  text-decoration: none;
  color: var(--color-blue-light);
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-blue-light);
  /* border-radius: 100vw; */
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue-lighter);
  border: 0.1em solid var(--color-blue);
  border-radius: 100vw;
  transition: 0.2s ease-in;
}

input,
button,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.9em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* color: #0f0f0f; */
  color: var(--vt-c-white-mute);
  background-color: var(--color-blue-light);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--color-blue);
  scale: 1.04;
}

button:active {
  scale: 0.96;
}

button[disabled],
button:hover[disabled] {
  border-color: transparent;
  scale: 0.96;
  opacity: 0.5;
  color: #0f0f0f;
}

input:focus-within {
  border-color: var(--color-blue);
  scale: 1.04;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-blue-light) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--color-blue-light) inset !important;
}

input,
button {
  outline: none;
}

input::-webkit-input-placeholder {
  color: var(--vt-c-white-mute);
}

input:focus::-webkit-input-placeholder {
  color: var(--color-blue);
}

input[type='number'] {
  appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  appearance: none;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

textarea:focus {
  outline: none !important;
  border: 1px solid var(--color-blue);
  box-shadow: 0 0 10px var(--color-blue);
}

hr {
  border: 1px solid gray;
  border: 1px solid var(--color-blue-light);
}

nav {
  width: 100%;
  font-size: 20px;
  text-align: right;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:hover {
  background-color: rgba(82, 144, 242, 0.2);
}

nav a:first-of-type {
  border: 0;
}

::-webkit-file-upload-button{
  background: var(--color-blue-lighter);
  padding: 10px;
  border: none;
  border-radius: 50px;
}

/* @media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: var(--color-blue-light);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-blue);
  }

  input,
  button,
  select {
    color: #ffffff;
    background-color: var(--bg-field-dark);
  }

  button:hover {
    background-color: var(--color-dark-dark);
  }

  button[disabled], button:hover[disabled]{
    border-color: transparent;
    background-color: var(--bg-field-dark);
    color: #ffffff;
    scale: 0.96;
    opacity: 0.5;
    cursor: not-allowed;
  }

  input::-webkit-input-placeholder {
    color: #999;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    background-color: var(--color-dark-dark);
    box-shadow: 0 0 0 400px var(--color-dark-dark) inset !important;
    -webkit-box-shadow: 0 0 0 400px var(--color-dark-dark) inset !important;
    border: 1px solid transparent;
    outline: none;
    border-color: var(--color-blue);
  }

  input:-webkit-autofill {
    border: 1px solid transparent;
    border-color: var(--color-dark-dark);
  }

  textarea{
    background-color: var(--bg-field-dark);
    border: 1px solid transparent;
    color: #ffffff;
    text-align: justify;
  }

  textarea:active,
  textarea:hover,
  textarea:focus{
    outline: none !important;
    background-color: var(--bg-field-dark);
    border: 1px solid transparent;
  }
} */